{% extends 'base.html' %}
{% block title %}UVenture - Help{% endblock %}



{% block content %}
    <h1>Help Page</h1>

    <div class="table-of-contents" style="margin-bottom: 20px;">
        <h3>Table of Contents</h3>
        <ul>
            {% for q, a in contents_list %}
            <li><a href="#q{{ loop.index }}">{{ q }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    {% for q, a in contents_list %}
    <div class="faq-entry" style="width: 80%; margin-bottom: 30px;">
        <h2 id="q{{ loop.index }}">{{ q }}</h2>
        <p>{{ a }}</p>
    </div>
    {% endfor %}
    
    <hr>

    <hr>
    <h2>Submit a New FAQ</h2>
    <form method="post", style="margin-top: 20px;">
        <label style="display: block; margin-top: 10px; width: 100%;" for="question">Question:</label>
        <input style="display: block; margin-top: 10px; width: 100%;" type="text" name="question" id="question" required>

        <label style="display: block; margin-top: 10px; width: 100%;" for="answer">Answer:</label>
        <textarea style="display: block; margin-top: 10px; width: 100%;" name="answer" id="answer" rows="4" required></textarea>

        <input style="width: auto; margin-top: 20px;" type="submit" value="Submit FAQ">
    </form>
{% endblock %}






