<!-- This is a comment -->
<!-- Create a webpage where a navigation bar is shown and below that, an iframe is shown where another webpage will be shown -->

<!DOCTYPE html>
<html>
<head>
    <title>Plotly Plot Viewer</title>
    <link rel="stylesheet" type="text/css" href="templates/css/plotly_plot_viewer.css">
</head>
<body>
    <div class="navbar">
        <a href="google.de" target="iframe">Google</a>
        <a href="index.html" target="iframe">Home</a>
    </div>
    <iframe src="templates/testwebsite_replace_with_plotly_plots.html" name="iframe"></iframe>
</body>
</html>