<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Results downloader</h1>

    <form action="/resultsdownload" method="post" enctype="multipart/form-data">
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="fileSelect">Select a file:</label>
            <select id="fileSelect" name="fileselection">
                {% for file in files %}
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
        </div>
        <button id="download" name="download">Download results</button>
    </form>


</body>
</html>