<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    {% include 'navbar.html' %}
    
    <h1>Currently Running Tasks</h1>
    <p>
        Remaining tasks: {{ pending_analyses }}
        <br>
        Unique files in the queue: {{ unique_analysis_files }}
        <br>
        Best estimate of time remaining: {{ time_till_finished_hours }} hours ({{ finish_time }})
    </p>
    <hr>
    <ul>
    {% set previous_task_name = "None" %}
    {% for task in tasks_information %}
        <li> {{ task }} {% if task.name.startswith("UVenture_") %} {% if task.is_alive %}<span style="color:rgb(50, 249, 10); font-weight: bold; font-size: 20px;">████</span>{% else %}<span style="color:rgb(255, 251, 4); font-weight: bold; font-size: 20px;">████</span>{% endif %}{% endif %}</li>
        {% set previous_task_name = task.name %}
    {% endfor %}
    </ul>
</body>
</html>